@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
    flex-flow: column;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* login.blade.php*/
.btn {
    display: inline-block;
    /* 文字に合わせる*/
    background-color: #186AC9;

    border: #f63001 solid 1px;
    padding: 10px 10px;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 7px;

}

a {
    color: #fff;
}

/* search*/
img.mark {
    width: 50px;
    height: 50px;
}

tr td:nth-child(2) {
    background-color: #186AC9;
    /*display: flex;

    /*flex-flow: column;*/
}

button[type="submit"] {
    /* 文字に合わせる*/
    background-color: #ACCEF7;
    color: #fff;
    border-radius: 5px;
    padding: 10px 30px;
    border: none;
    margin-left: 120px;
}

button[type="unfollow"] {
    /* 文字に合わせる*/
    background-color: #FF6633;
    color: #fff;
    border-radius: 5px;
    padding: 10px 30px;
    border: none;
    margin-left: 120px;
}

/*
    border: #f63001 solid 1px;
    padding: 10px 10px;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 7px;
    margin-right: 4%;
    box-sizing: border-box;
    writing-mode: vertical-rl;

}*/

/*top*/
input[type="text"] {
    width: 230px;
    /*--幅--*/
    padding: 10px;
    /*--余白--*/
    font-size: 16px;
    /*--文字サイズ--*/
    border: solid 2px #cccccc;
    /*--ボーダー線--*/
    border-radius: 5px;
    /*--角丸--*/
    height: 10px;
}

/*img {
    width: 40px;
    height: 40px;
}*/

/*search.blade*/
/*送信ボタン
button[type="submit"] {
    width: 20px;
    height: 20px;
}
*/
button[type="search"] {
    width: 40px;
    height: 40px;
    margin: 20px 0 0 20px;
}
