@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
    height: 100px;
    position: relative;
}

img.example1 {
    width: 100px;
    height: 80px;
    position: absolute;
    height: 40px;
    top: 30px;
    left: 40px;
}

.rogin-menu {
    position: relative;
    color: #fff;
}

.rogin {
    position: absolute;
    top: 30px;
    right: 20px;
}


.check {
    display: none;
}

.label {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    line-height: 1;
    width: 1em;
    height: 1em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
    position: absolute;
    top: 50px;
    right: 100px;

}

/* クリック時に表示されるテキスト */
.text {
    transform: scaleY(0);
    background: #ffffff;
    align-items: center;
    margin-bottom: 10px;
    /*通常時は見えなくする*/
    overflow: hidden;
    /*  通常時は高さ0を指定  */
    height: 0;
    transition: 0.5s;
    display: flex;
    flex-flow: column;
    margin-right: 0;
    margin-left: auto;
    text-align: right;
    border: 2px solid #000000;
    width: 305px;


}

.text>p:nth-child(1) {
    padding: 25px 130px;
    color: #fff;
}

.text>p:nth-child(2) {
    padding: 25px 65px;
    background-color: navy;
}


.text>p:nth-child(3) {
    padding: 25px 0px;
    color: #fff;
}

/* クリック時のスタイル */
.check:checked+.label+.text {
    transform: scaleY(1);
    position: absolute;
    top: 100px;
    right: 0;
    height: 265px;
    width: 305px;

}

/* クリック時のスタイル */
.check:checked+.label {
    transform: translateY(25%) rotate(-45deg);
}

/**/
.text>p {
    text-align: center;
    border: 1px solid #000;
    border-top: none;
    border-right: none;
    border-left: none;
    margin: 0;
}

.child-link>a {
    color: gray;
    font-size: 25px;
    text-decoration: none;
    letter-spacing: 2px;
}

.child-link .profile-edit {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    letter-spacing: 2px;
}


.check .child-link {
    margin: 0;
    padding: 0;
}

.roginuser {
    position: absolute;
    top: 40px;
    right: 160px;
    font-size: 20px;
    font-family: inherit;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
    flex-flow: column;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    height: 2000px;
}

#confirm {
    border-bottom: 2px solid #d3d3d3;
    padding-bottom: 20px;
}

/* login.blade.php*/
img.btn btn-danger {
    width: 30px;
}

.post-containner {
    border-bottom: 2px solid #d3d3d3;
}

.post-containner2 {
    border-bottom: 2px solid #d3d3d3;
    margin-top: 25px;
}



.user-post {
    display: flex;
}

/*ログインユーザーの名前、その投稿更新日*/
.post-area {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0 0.5em 1.4em;
    margin-left: 165px;
    margin-top: -65px;
}

img.RoginUser {
    text-align: center;
    margin-left: 125px;
    margin-top: -5px;
}



.post-list {
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}

.content3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-container label {}


.post {}

.username {
    margin-left: 15px;
}


/*編集ボタン（画像）*/
img.edit {
    width: 40px;
}

/*(親要素)　削除ボタン（画像）*/
.trash {
    width: 60px;
    margin-right: 20px;
    cursor: pointer;
}

/*（子要素）　削除ボタン反転画像*/
.trash img {
    width: 50px;
    transition: .4s;
}

/* hoverすると2枚目の画像が色相回転 */
.trash:hover img {
    transition: opacity .7s;
    filter: invert(100%);
}



a {
    color: #fff;
    padding: 20px 0;
    font-size: 15px;
}

img.btn {
    width: 60px;
    height: 60px;
}

/*投稿一覧　リスト*/
.li {
    border-top: dotted 2px #cecccd;
    list-style: none;
}


/* search.blade.php(ユーザー検索画面)*/



.search-group {
    border-bottom: 7px solid #dcdcdc;
    display: flex;
}

/*横幅を調整して中央に配置*/
/*usernameのエリアの全体レイアウト*/

/*usernameのエリア*/
.user_content {
    margin: 0 auto;
}

.search_result {
    margin-top: 60px;
    margin-left: 230px;
    letter-spacing: 2px;
    font-family: 'arial';
}

.username-area {}

.usertext {
    margin-left: 10px;
    width: 300px;
    margin-top: 10px;
}

.user-list {
    margin-left: -175px;
    display: inline-block;
}

.user-image {}

.user-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: -20px;
}



button[type="submit"] {
    /* 文字に合わせる*/
    position: relative;
    top: 20px;
    left: 920px;
    height: 50px;
    width: 45px;
    color: rebeccapurple;
    border-radius: 5px;
    border: none;
    top: 20px;
    left: 920px;
}

/* 送信ボタン画像*/
button[type="submit"] .send {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 5px;
}


input[name="search"] {
    margin-top: 50px;
    margin-left: 75px;
    margin-bottom: 45px;
    display: block;
    max-width: 300px;
    height: 45px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px;
    border-color: grey;
    border-width: revert;
    font-size: 25px;
}

.search-group input[name="search"]::placeholder {
    color: #C0C0C0;
}

img.mark {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 200px;
    background-color: #fff;
}

td .user {
    margin-left: 10px;
}

.username .user {
    margin-left: 50px;
}


tr td:nth-child(2) {
    background-color: #186AC9;
    /*display: flex;

    /*flex-flow: column;*/
}


button[type="follow"] {
    /* 文字に合わせる*/
    background-color: #0099CC;
    color: #fff;
    border-radius: 5px;
    padding: 5px 30px;
    border: none;
    margin: 0px 22px 50px 61px;
    margin-top: 10px;
    letter-spacing: 2px;
}

button[type="unfollow"] {
    /* 文字に合わせる*/
    background-color: #EE0000;
    color: #fff;
    border-radius: 8px;
    padding: 5px 30px;
    border: none;
    margin: 0px 22px 50px 61px;
    letter-spacing: 2px;
}

/*
    border: #f63001 solid 1px;
    padding: 10px 10px;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 7px;
    margin-right: 4%;
    box-sizing: border-box;
    writing-mode: vertical-rl;

}*/

/*top*/
.Form {
    width: 400px;
    /*--幅--*/
    padding: 10px;
    /*--余白--*/
    font-size: 16px;
    /*--文字サイズ--*/
    border: 0px none;
    /*--ボーダー線--*/

    /*--角丸--*/
    height: 10px;
}

.form-area {
    border-bottom: 7px solid #dcdcdc;
    padding-bottom: 40px;
}


.form-group {
    border: none;
    margin-left: 90px;
    margin-top: 30px
}


.form-group img {
    vertical-align: middle;
    display: inline-block;
}

.container .form {
    margin-bottom: 10px;
}

/*img {
    width: 40px;
    height: 40px;
}*/

/*search.blade*/
/*送信ボタン
button[type="submit"] {
    width: 20px;
    height: 20px;
}
*/
.follow-area input {
    width: 30px;
}


button[type="search"] {
    width: 60px;
    height: 50px;
    /* position: relative; */
    top: 48px;
    left: 20px;
    margin-left: 20px;
    margin-top: 48px;
    border: none;
    border-radius: 5px;
    background: none;
}


button[type="search"] img {
    object-fit: cover;
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/*followList（フォローリスト画面）*/
.title {
    flex-basis: 300px;
}

/*フォローユーザー名とその投稿の更新日*/
.content2 {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0 0.5em 1.4em;
    margin-left: 120px;
    margin-top: -60px;
}


/*フォローされているユーザーネーム*/
.follow {
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 10px;
}


.follow_content {
    margin-right: 8px;
}

.folow .td {
    margin-top: 100px;
}

.post {
    margin-left: 185px;
    margin-top: -10px;
    width: 700px;
}

/*.post-created_at {*/
.followuser {
    display: flex;
    text-align: center;
    border-bottom: 5px solid #d3d3d3;
    /* 内容と線との間隔量 */
    flex-wrap: nowrap;
    /*flexアイテムを折り返さない*/
    width: 50%;
}

.followuser2 {
    border-bottom: 4px solid #dcdcdc;
    display: flex;
}

.followuser3 {
    border-bottom: 4px solid #dcdcdc;
    display: flex;
}



img.followUser {
    text-align: center;
    margin-left: 80px;
    margin-top: 20px;
}

/*Top画面　のフォローユーザー*/
img.Top-followUser {
    text-align: center;
    margin-left: 125px;
    margin-top: 20px;
}

/*Top画面　フォローユーザー名とその投稿の更新日*/
.Top-content {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0 0.5em 1.4em;
    margin-left: 165px;
    margin-top: -60px;
}

/*Top 投稿*/
.Top-post {
    margin-left: 192px;
    margin-top: -10px;
    width: 700px;
}


/*上のユーザーネーム*/
.follow img {
    flex-wrap: wrap;
}


.post-text .followUser {
    margin: 0;
    padding: 40px;
}

.post-created_at {
    display: flex;
    margin-right: 40px;
    justify-content: flex-end;
}

/* myprofile*/
.profile {
    margin: 0 auto;
    display: block;
    height: 30px;
    padding: 0 30px;
    border-radius: 5px;
}

.rogin-image {
    position: absolute;
    top: 150px;
    left: 300px;
}

.ct-block {}


.profile .ct-block {
    margin-top: 35px;
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.ct-block input[type="text"] {
    background-color: #F5F5F5;
    width: 1400px;
    border: 2px solid #c0c0c0;
    margin-right: 185px;
    max-width: 400px;
}

.ct-block input[type="password"] {
    background-color: #F5F5F5;
    width: 1400px;
    border: 2px solid #c0c0c0;
    margin-right: 185px;
    max-width: 400px;
}



.ct-block label {
    display: inline-block;
    margin-left: 320px;
    font-size: 20px;
}

.file_button {
    background: #F5F5F5;
    width: 400px;
    border: 2px solid #c0c0c0;
    margin-right: 185px;
    max-width: 400px;
    height: 100px;
    padding: 35px 80px;
    margin-bottom: 20px;
}



.ct-block input[type="file"] {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

input[type="file"] {
    border: none;
    outline: none;
}



.ct-block input[type="file"] label {
    color: #244440;
    font-size: 20px;
    font-weight: bold;
}

input[name="newPost"] {
    width: 400px;
    /*--幅--*/
    padding: 10px;
    /*--余白--*/
    margin-left: -200px;
    font-size: 16px;
    /*--文字サイズ--*/
    border: solid 2px #cccccc;
    /*--ボーダー線--*/
    border-radius: 5px;
    /*--角丸--*/
    height: 10px;
    border: none;
    display: inline-block;
}

input[class='form-control']::placeholder {
    color: #EEEEEE;
    letter-spacing: 1.5px;
    font-weight: 400;
}

.form-list {
    margin: 0 auto;
    margin-bottom: 10px;
}

input[type="submit"] {
    color: #fff;
    background-color: #ff3366;
    display: inline-block;
    padding: 5px 65px;
    text-align: right;
    border-radius: 8px;
    border: 0px none;
    margin-top: 20px;
    margin-left: 500px;
}

/*相手のプロフィール*/

ul {
    margin: 0;
    /*余白をリセット*/
    padding: 0;
    /*余白をリセット*/
    list-style-type: none;
    /*マーカーを削除*/
    border-top: solid 1px #3dbfb8;
    /*枠線・上*/
}

ul li {
    /*背景色*/
    /*枠線・下*/
}

img.profile2 {
    text-align: center;
    margin-top: 20px;
    margin-left: 80px;
}

.pf-area {
    border-bottom: 2px solid #d3d3d3;
    display: flex;
    margin-top: 40px;
    margin-left: 150px;
    padding: 0.5em 0 0.5em 1.4em;
}

.pf-area2 p {
    margin-left: 170px;
}

.pf-area2 {
    margin-top: 10px;
    max-width: 100%;
}

.post-containner button[type="unfollow"] {
    background-color: #EE0000;
    color: #fff;
    border-radius: 8px;
    padding: 10px 30px;
    border: none;
    margin-left: 650px;
    margin-bottom: 20px;
}

/*Side bar*/
.rogin-user {
    margin-top: 15px;
    margin-left: 15px;
}


button[type="button"] a {
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button[type="button"]a:nth-child(2) {
    margin-inline: 10px;
}



button[type="button"] {
    background-color: #0033CC;
    margin-left: 115px;
    margin-top: 15px;
    padding: 5px 20px;
    margin-bottom: 15px;
    border-radius: 6px
}

button[name="search"] {
    margin-top: 25px;
    margin-left: 80px;
    padding: 5px 30px;
    border-radius: 10px
}

.follow-count {
    display: flex;
    justify-content: space-between;
}

.follow-text {
    margin-left: 15px;
    letter-spacing: 3px;
}

.count {
    margin-right: 140px;
}

.follower-count {
    display: flex;
    justify-content: space-between;
}

/*FollowerList*/
.title h2 {
    margin-left: 100px;
    margin-top: 15px;
}

.follower-post-created_at {
    display: flex;
    margin-right: 40px;
    justify-content: flex-end;
}

.follower-post {
    margin-left: 143px;
    margin-top: -10px;
}

.user3 {}


img.follower {
    text-align: center;
    margin-top: 20px;
    margin-left: 80px;
}


/*フォロワー画面のユーザーの画像*/
.followed {
    vertical-align: baseline;
}

/*モーダル*/
.modal js-modal {}

/* 必要に応じて編集しご自身でSNS課題のレイアウトのようにカスタマイズしてください。 */
.content {
    margin: 0 auto;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.modal_content,
textarea {
    width: 100%;
    height: 190px;
}

/*投稿編集モーダル　アイコン*/
input[class="submit_btn"] {
    margin-left: 400px;
    margin-top: -45px
}
